#container{
    text-align: center;
    margin-top: 5%;
    border-style: solid;
    margin-right: 25%;
    margin-left: 25%;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:rgb(177, 220, 255);
}
body
{
    background-color: rgb(255, 245, 255);
}